.GridCarousel {
  position: relative;
  overflow: hidden;
}

.inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.0625rem -0.0625rem 0;
}

.GridCarouselItem {
  display: none;
  flex: 1 0 100%;
  max-width: 100%;
}

.GridCarouselItem.active {
  display: block;
  animation: swipe 1s;
}

.Indicators {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin-top: 2rem;
  list-style-type: none;
}

/* Animation */

@keyframes swipe {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive */

@media only screen and (min-width: 768px) {
  .GridCarouselItem {
    display: block;
    flex: 1 0 50%;
    max-width: 50%;
  }

  .Indicators {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .GridCarouselItem.active {
    animation: unset;
  }
}

@media only screen and (min-width: 1200px) {
  .GridCarouselItem {
    flex: 1 0 33.333333333%;
    max-width: 33.333333333%;
  }
}
