/* Foundation */

.PrevButton {
  position: absolute;
  top: -2rem;
  left: 0;
  background-color: transparent;
  outline: none;
  border: none;
}

.PrevButton.center {
  top: 40%;
  left: -1rem;
}

.hide {
  display: none;
}

.Icon {
  width: 1.25rem;
  height: 1.25rem;
}

/* Responsive */

@media only screen and (min-width: 992px) {
  .PrevButton,
  .PrevButton.center {
    top: 40%;
    left: -3rem;
  }

  .Icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}
