.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  margin: 5rem 0;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10rem;
  color: #454545;
  background: #b993d6;
  background: -webkit-linear-gradient(to right, #8ca6db, #b993d6);
  background: linear-gradient(to right, #8ca6db, #b993d6);
}

.carousel-item.grid-item {
  background: none;
}

/* Responsive */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .carousel-item.grid-item {
    border-right: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
